html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

/* Unir los inputs visualmente como en la imagen */
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Icono de Bootstrap personalizado para el ejemplo */
.brand-logo {
    background-color: #7952b3;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.ocultar-nav{
   display: none 
}

.nav-loading{
    display: none;
}

.mostrar-nav{
    display: block;
}